:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --white-60: rgba(255, 255, 255, 0.6);
  --dark-bg-color: #2f303a;
  --primary-bg-color: #f5f4fa;
  --items: 4;
  --indent: 30px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal {
  position: absolute;
  padding: 40px;
  width: calc(100% - 30px);
  max-height: 100vh;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--black);
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img.sm.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img.sm.jpg);
}
@media (min-device-pixel-ration: 2), (-webkit-min-device-pixel-ration: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img@2x.sm.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img@2x.sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img.md.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img.md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ration: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ration: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img@2x.md.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img@2x.md.jpg);
    padding: 118px 0;
    max-width: 1199px;
    height: 400px;
  }
}
@media screen and (max-width: 1199px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img.lg.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img.lg.jpg);
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ration: 2), screen and (max-width: 1199px) and (-webkit-min-device-pixel-ration: 2), screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/webstudio/header.img@2x.lg.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../img/webstudio/header.img@2x.lg.jpg);
    padding: 118px 0;
    max-width: 767px;
    height: 400px;
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
  }
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
  text-transform: uppercase;
}

.images-item {
  position: relative;
}

.portfolio-images-section {
  padding-top: 0;
  display: block;
}
@media screen and (max-width: 1199px) {
  .portfolio-images-section {
    display: none;
  }
}

.filter-button {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filter-list:last-child {
  margin-right: 0;
}

.button-item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .button-item {
    margin-bottom: 15px;
  }
}

.portfolio-item-list {
  display: block;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.portfolio-list {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item-list:hover .portfolio-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  font-size: 18px;
  line-height: 1.55;
  color: var(--white);
}

.is-list-item-subheader {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-item-list:hover,
.portfolio-item-list:focus {
  display: block;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section {
  background-color: var(--primary-bg-color);
}

.team-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 0;
  background-color: var(--white);
}

.section-title.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.constans-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.clients-list-item {
  height: 92px;
}
@media screen and (max-width: 1199px) {
  .clients-list-item {
    margin-bottom: 30px;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-item:hover,
.clients-item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.images-container {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio-images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  background: var(--white);
}

.images-item {
  margin-right: 30px;
}

.portfolio-images-list .images-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

.section-title .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.work {
  margin-bottom: 16px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
}

.footer-strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (max-width: 1199px) {
  .footer-strong {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-logo-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer-logo-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-subscribe {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .footer-subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 1199px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer-icons {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .footer-icons {
    margin-left: 0;
    margin-top: 60px;
  }
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.social-footer-item {
  margin-right: 10px;
}

.social-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.social-group-icon {
  fill: var(--white);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .footer-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    width: 90vw;
  }
}

.footer-label {
  position: relative;
  width: 100%;
}

.footer-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
@media screen and (max-width: 1199px) {
  .footer-input {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    width: 100%;
  }
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--white);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .footer-button {
    margin-left: 0;
    margin-top: 20px;
  }
}

.footer-button-icon {
  fill: var(--white);
  margin-left: 10px;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-list {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 50px;
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.comment-text {
  display: block;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form-comment:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-check {
  font-size: 14px;
  line-height: 1.71;
  margin-left: 7px;
}

.checkbox-icon {
  fill: var(--white);
}

.checkbox + .checkbox-mark {
  border: 1px solid var(--black);
}

.checkbox:checked + .checkbox-mark {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  border: none;
}

.checkbox-mark {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--black-br-txt-cl);
  outline-offset: -2px;
  border-radius: 2px;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white);
  cursor: pointer;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.apps-list {
  margin-top: -15px;
}
.apps-list .portfolio-item {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .apps-list .portfolio-item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .apps-list .portfolio-item {
    --items: 3;
  }
}

.apps-list-item-description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.apps-list-item-header {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-link {
  color: var(--white-60);
  font-style: normal;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer-logo {
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-half-logo {
  color: var(--white);
}

.footer-items {
  margin-right: auto;
}

.footer-link-item {
  margin-top: 9px;
}

.footer-address {
  margin-bottom: 9px;
  color: var(--white);
  font-style: normal;
  line-height: 2;
}

.address {
  margin-top: 20px;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  border: none;
  cursor: pointer;
  text-align: center;
}

.order-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.order-button:hover,
.order-button:focus {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.current-page {
  position: relative;
}
.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  --items: 1;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
@media screen and (min-width: 768px) {
  .card-set__item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    --items: 4;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .advantages {
    --items: 4;
  }
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__benefits {
  margin-top: 10px;
  line-height: 24px;
}

.team-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.team-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-section .social-media__item:not(:last-child) {
  margin-right: 10px;
}
.team-section .social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.team-section .social-media__link:hover, .team-section .social-media__link:focus {
  background-color: var(--accent-color);
  fill: var(--white);
}

.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}

.section-title.skills {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .section-title.skills {
    text-align: center;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
  fill: var(--accent-color);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover svg,
.menu-toggle:focus svg {
  fill: var(--accent-color);
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.menu-container.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 40px;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
}

.mobile-menu-contacts {
  position: absolute;
  bottom: 100px;
  padding-left: 15px;
}

.mobile-menu-contacts-item {
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.mobile-menu-contacts-item:hover, .mobile-menu-contacts-item:focus {
  color: var(--accent-color);
}

.contacts-item-phone {
  font-size: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contacts-item-phone {
    width: 296px;
    height: 40px;
  }
}

.contacts-item-email {
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .contacts-item-email {
    width: 231px;
    height: 28px;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu-item {
  font-size: 30px;
  margin-bottom: 20px;
}

.mobile-menu-item-link {
  color: var(--black);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .mobile-menu-item-link {
    font-size: 40px;
    line-height: 1.18;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
  }
}
.mobile-menu-item-link:hover, .mobile-menu-item-link:focus {
  color: var(--accent-color);
}

.current-page-link {
  color: var(--accent-color);
}

.mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-list__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}
.mobile-list__item:last-child {
  border: none;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
@media (max-width: 767px) {
  .header__nav .logo {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}
.header__nav .logo:hover, .header__nav .logo:focus {
  color: var(--accent-color);
}
.header__nav .half-logo {
  color: var(--black);
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
}
@media (max-width: 767px) {
  .header__list {
    display: none;
  }
}
.header__list-item:not(:last-of-type) {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header .current-page {
  position: relative;
  color: var(--accent-color);
}
.header .current-page:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header__nav-list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .header__nav-list-item:not(:last-of-type) {
    margin-right: 50px;
  }
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media (min-width: 1200px) {
  .header__contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__contacts-icon {
  margin-right: 10px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */