.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {  
        --items: 4;
    }

    &__icon {
        display: flex;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: #f5f4fa;
        justify-content: center;
    }

    &__benefits {
        margin-top: 10px;
        line-height: 24px;
    }
}