

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white: #ffffff;
    --black: #000000;
    --white-60: rgba(255, 255, 255, 0.6);
  
    --dark-bg-color: #2f303a;
    --primary-bg-color: #f5f4fa;
  
    --items: 4;
    --indent: 30px;
  }